.input-style {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}
.detail-card {
  width: 200px;
  height: 200px;
  border: 2px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.detail-style {
  padding: 10px;
  display: flex;
}
.input-container {
  display: flex;
  gap: 10px;
}
